@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300');
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.outer-h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    position: absolute;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    position: relative;
}

.outer-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}


/* > is the child combinator selects top level + all child divs */

.outer-menu .checkbox-toggle:checked~.menu {
    pointer-events: auto;
    visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
    display: block;
}

.outer-menu .checkbox-toggle:hover+.hamburger {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: .5em 1em;
    background: rgba(33, 150, 243, 0.75);
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.4s ease;
    transition: -webkit-box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.outer-menu .menu>div {
    width: 200vw;
    height: 200vw;
    color: #FEFEFE;
    /* background: rgba(41, 98, 255, 0.97); */
    background-image: url("./stars.jpg");
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.outer-menu .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    overflow-y: auto;
}

.outer-menu .menu>div>div>ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}

.outer-menu .menu>div>div>ul>li>a {
    position: relative;
    display: inline;
    cursor: pointer;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.outer-menu .menu>div>div>ul>li>a:hover {
    color: #e5e5e5;
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
    width: 100%;
}


/* accordian */


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: rgba(115, 115, 115, 0.3);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    justify-content: center;
    display: flex;
    font-size: 3em;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: red
}

.accordian-title {
    position: relative;
    height: 100px
}

.header-ani {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
}